<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
</head>
<body>
    <v-app id = "app">
        <v-container fill-height v-if = "start && !acabat" >
            <v-row justify = "center" align-items = "center">
                <v-col cols = "10" sm = "4">
                    <v-text-field
                    id = "numQuestions"
                    solo
                    label="Numero de preguntes (1-12)"
                    clearable
                    autocomplete = "off"
                  ></v-text-field>
                  <v-sheet class = "mx-auto" align = "center">
                    <v-btn @click = "getQuest" @click = "getTotalPreguntes">
                        Q U I Z
                    </v-btn>
                  </v-sheet>
                </v-col>
            </v-row>
            
        </v-container>

        <v-container>
            <v-row justify = "center" align-items = "center">
                <v-col cols = "10" sm = "4">
                    <ul>
                        <li v-for="(pregunta, index1) in preguntes" v-if = "!acabat && !start">
                            {{ pregunta.question }}
                            <v-radio-group v-model="radioGroup[index1]">
                                <v-radio 
                                v-for="(opcio, index2) in pregunta.options" 
                                name="radioBTN[]" 
                                :key="opcio" 
                                :label="`${opcio}`"
                                :value="index2"
                                :position="index2"
                                ></v-radio>
                            </v-radio-group>
                        </li>
                    </ul>
                    <v-btn width="100%" @click = "veureSelects" v-if = "isVisible && !acabat">
                        <v-text text-align = "center">SEND</v-text>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>

        <v-container fill-height>
            <v-row justify = "center" align-items = "center">
                <v-col cols = "10" sm = "4">
                    <v-sheet class = "mx-auto" align = "center">
                        <v-btn width="100%" id = "result" v-if = "acabat">
                            GRÀCIES PER FER EL QUIZ :)
                        </v-btn>
                    </v-sheet>
                    
                </v-col>
            </v-row>
        </v-container>

        <v-snackbar v-model="snackbar" :timeout="timeout">
            {{ text }}

            <template v-slot:action="{ attrs }">
              <v-btn
                color="pink"
                text
                v-bind="attrs"
                @click="snackbar = false"
                
              >
              </v-btn>
            </template>
        </v-snackbar>

    </v-app>
    <script src="index.js"></script>
</body>
</html>