<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
</head>
<body>
    <v-app id = "app">
        <div v-if = "start && !acabat">
            <v-text-field
            id = "numQuestions"
            solo
            label="Numero de preguntes"
            clearable
          ></v-text-field>
          <v-btn @click = "getQuest">
            Q U I Z
        </v-btn>
        </div>

        <ul>
            <li v-for="(pregunta, index1) in preguntes" v-if = "!acabat">
                {{ pregunta.question }}
                <v-radio-group v-model="radioGroup[index1]">
                    <v-radio 
                    v-for="(opcio, index2) in pregunta.options" 
                    name="radioBTN[]" 
                    :key="opcio" 
                    :label="`${opcio}`"
                    :value="index2"
                    :position="index2"
                    ></v-radio>
                </v-radio-group>
            </li>
        </ul>

        <v-btn @click = "veureSelects" v-if = "isVisible && !acabat">
            SEND
        </v-btn>
        <v-snackbar v-model="snackbar">
            {{ text }}

            <template v-slot:action="{ attrs }">
              <v-btn
                color="pink"
                text
                v-bind="attrs"
                @click="snackbar = false"
              >
                Close
              </v-btn>
            </template>
            
        </v-snackbar>
        


        <div id = "result" v-if = "acabat">
            <v-btn onclick="window.location.reload();">
                AGAIN
            </v-btn>
        </div>

        

    </v-app>
    <script src="index.js"></script>
</body>
</html>


<!-- MODO SELECT
<v-select :items="pregunta.options" label="Standard">
</v-select>
-->